<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <link rel="icon" href="icon位置">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="rebots" content="index, follow" />
    <meta name="description" content="網頁說明文字">
    <meta name="author" content="作者" />
    <title>修改資料</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>

</head>

<body>
    <main>
        <form method="post">
            {% csrf_token %}
            <div class="container mt-4">
                <h1 class="text-center">修改資料</h1>
                {% for item in data %}
                {% if table == 'myapp_all'%}
                    <div class="mb-3">
                        <label for="product_name" class="form-label">商品名稱</label>
                        <input type="text" class="form-control" value="{{item.name_all}}" id="product_name" name="product_name">
                    </div>
                {% else %}
                    <div class="mb-3">
                        <label for="product_name" class="form-label">商品名稱</label>
                        <input type="text" class="form-control" value="{{item.name}}" id="product_name" name="product_name">
                    </div>
                {% endif %}
                <div class="mb-3">
                    <label for="product_vendor" class="form-label">商品廠商</label>
                    <input type="text" class="form-control" value="{{item.vendor}}" id="product_vendor"
                        name="product_vendor">
                </div>
                <div class="mb-3">
                    <label for="product_price" class="form-label">商品價格</label>
                    <input type="text" class="form-control" value="{{item.price}}" id="product_price"
                        name="product_price">
                </div>
                <div class="mb-3">
                    <label for="product_image" class="form-label">商品圖片</label>
                    <input type="text" class="form-control" value="{{item.pc_images}}" id="product_image"
                        name="product_image">
                </div>
                <div class="mb-3">
                    <label for="product_url" class="form-label">商品連結</label>
                    <input type="text" class="form-control" value="{{item.url_list}}" id="product_url"
                        name="product_url">
                </div>
                {% endfor %}


                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success fs-5" style="padding: 0.5rem;">送出</button>
                </div>
            </div>

        </form>
    </main>
</body>

</html>